<!-- Conteúdo Principal -->
<main class="col-md-9 col-lg-10 p-4 main">
    <h2 class="mb-4">Pokémons Disponíveis</h2>
    
    <div class="row">
        <!-- Lista dinâmica de Pokémons -->
        <div class="col-md-6 col-lg-4" *ngFor="let pokemon of pokemons">
            <div class="card pokemon-card text-center">
                <img [src]="pokemon.image" class="card-img-top" [alt]="pokemon.name">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name }}</h5>
                    <button class="btn btn-primary" (click)="capturarPokemon(pokemon)">Capturar</button>
                </div>
            </div>
        </div>
    </div>
</main>
