/* Estilo dos cards */

.container {
    max-width: 1000px; /* Limita a largura do container */
    margin: 0 auto;    /* Centraliza o container */
}




.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo do corpo do card */
.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 1rem;
    margin-bottom: 5px;
}

.card-text {
    font-size: 0.875rem;
    margin-bottom: 15px;
}

/* Estilo do select */
.form-select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botão de salvar */
.btn-success {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-success:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
