<img src="imagens/rayquaza.png" alt="rayquaza" class="background-image">

<div class="list-users-container">
  <h2>Listagem de Usuários</h2>

  <ng-container *ngIf="(users$ | async)?.length; else noUsers">
    <div class="users-container">
      <div class="user-card" *ngFor="let user of users$ | async">
        <div class="card-body">
          <h5 class="card-title">Nome: {{ user.publicName || 'Não informado' }}</h5>
          <h5 class="card-title">Descrição: {{ user.description || 'Não informado' }}</h5>
          <p class="card-text">
            <strong>Caçador:</strong> {{ user.isHunter ? 'Sim' : 'Não' }}<br />
            <strong>Administrador:</strong> {{ user.isAdmin ? 'Sim' : 'Não' }}
          </p>

          <select [(ngModel)]="user.role" class="form-select mb-3">
            <option value="admin">Administrador</option>
            <option value="hunter">Caçador</option>
          </select>

          <div class="text-center">
            <button (click)="changeRole(user)" class="btn btn-primary">
              Salvar Alterações
            </button>

            <div class="text-center mt-3">
              <button (click)="mostrarPokemons(user)" class="btn btn-primary">
                {{ user.showPokemons ? 'Esconder' : 'Ver' }} Pokémons
              </button>
            </div>
            
            <div *ngIf="user.showPokemons && user.pokemons" class="mt-3">
              <h4>Pokémons capturados:</h4>
              <div class="pokemon-grid">
                <div *ngFor="let pokemon of user.pokemons" class="pokemon-card">
                  <img [src]="pokemon.imagemUrl" [alt]="pokemon.nome" />
                  <div class="pokemon-info">
                    <strong>{{ pokemon.nome }}</strong>
                    <p>Força: {{ pokemon.forca || 'N/A' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noUsers>
    <div class="alert alert-info">Nenhum usuário encontrado</div>
  </ng-template>
</div>
