/* Centraliza o container */
.container {
  display: flex;
  max-width: 400px;
  margin: 100px; /* Espaço do topo para evitar sobreposição da navbar */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 8%;
  margin-left: 35%;
}

h3{
  margin: 0;
  font-family: 'pokemon solid';
  color: rgb(255, 238, 0);
  text-shadow: blue;
  -webkit-text-stroke: 0.2px blue;
  font-size: 24px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Div que envolve o formulário */
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Formulário */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Espaço entre os elementos */
}

/* Cada campo de entrada */
.form-group {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

/* Rótulos */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Inputs e selects */
input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

/* Botão */
button {
  width: 100%;
  max-width: 300px;
  background: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão desabilitado */
button:disabled {
  background: #ccc;
}

/* Alinhamento central do corpo da página */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
