#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition-duration: .5s;
    overflow: hidden;
}

#profile-content {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.7); /* 🔹 Mesmo fundo branco opaco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 🔹 Mesmo estilo de sombra */
    text-align: center;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: .5em;
    resize: none;
    outline: none;
    border: 1px solid gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.background-image {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

