#profile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw; /* Garante que a largura seja 100% da tela */
    z-index: 9;
    transition-duration: .5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-content {
    margin-top: 80px;
    margin-left: 450px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;
    box-sizing: border-box;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

input, textarea {
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: .5em;
    resize: none;
    outline: none;
    border: 1px solid gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
