<div id="navbar">
    <div id="navbar-content">
        <div id="navbar-left">
            <div class="navbar-items" [routerLink]="['/main-page']" routerLinkActive="router link active">PokeWeb</div>
        </div>
        <div id="navbar-right">
            <div *ngIf="!loggedIn()" (click)="onLoginClick()" class="navbar-items">Login</div>

            <div *ngIf="loggedIn() && userHasProfile" class="navbar-items" [matMenuTriggerFor]="appMenu">
                Olá, {{getUsername()}}
            </div>

            <mat-menu #appMenu>
                <button mat-menu-item [routerLink]="['/cadastro-pokemon']" routerLinkActive="router link active">Cadastrar Pokemon</button>
                <button mat-menu-item [routerLink]="['/list-users']" routerLinkActive="router link active">Listar Usuários</button>
                <button mat-menu-item [routerLink]="['/pokedex']" routerLinkActive="router link active">Pokédex</button>
            </mat-menu>
            <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="navbar-items" >Logout</div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>

