<nav class="navbar navbar-dark bg-dark px-4" id="navbar">
    <div class="d-flex justify-content-between align-items-center w-100" id="navbar-content">
      
      <!-- Esquerda -->
      <div id="navbar-left">
        <span class="navbar-items" [routerLink]="['/main-page']">PokeWeb</span>
      </div>
  
      <!-- Direita -->
      <div id="navbar-right" class="d-flex align-items-center">
        <span *ngIf="!loggedIn()" (click)="onLoginClick()" class="navbar-items">Login</span>
  
        <span *ngIf="loggedIn() && userHasProfile" class="navbar-items" [matMenuTriggerFor]="appMenu">
          Olá, {{ getUsername() }}
        </span>
  
        <mat-menu #appMenu>
          <button *ngIf="isAdmin()" mat-menu-item [routerLink]="['/cadastro-pokemon']">Cadastrar Pokémon</button>
          <button *ngIf="isAdmin()" mat-menu-item [routerLink]="['/list-users']">Listar Usuários</button>
          <button *ngIf="isHunter()" mat-menu-item [routerLink]="['/bag']">Bag</button>
          <button mat-menu-item [routerLink]="['/pokedex']">Pokédex</button>
          <button mat-menu-item [routerLink]="['/user-profile']">Editar Perfil</button>
        </mat-menu>
  
        <span *ngIf="loggedIn()" (click)="onLogoutClick()" class="navbar-items">Logout</span>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  