<img src="imagens/pikachu-gmax.jpg" class="background-image" >
<div class="profile-container">
    <h2>Editar Perfil do Usuário</h2>
    <div class="form-group">
      <label for="name">Nome:</label>
      <input id="name" type="text" [(ngModel)]="name">
    </div>
  
    <div class="form-group">
      <label for="description">Descrição:</label>
      <textarea id="description" [(ngModel)]="description"></textarea>
    </div>
  
    <button (click)="onSaveClick()" class="save-button">Salvar</button>
  
  </div>  


  