<img src="wallpaper.png" style="background-size: cover; background-position: center; top: 0;left: 0;width: 100%;height: 100%;
position: absolute;">
<div id="home-page">
  <div id="home-page-landing">
      <div id ="landing-left">
          <div id="landing-left-content">
              <h1>PokeWeb</h1>
              <button mat-flat-button color="primary"
              (click)="onGetStartedClick()">Iniciar</button>
          </div>
      </div>
      <div id="landing-right">
          <div id="landing-right-content">
          </div>
      </div>
  </div>
</div>
