<div class="container text-center">
    <h2 class="mb-4">Lista de Pokémons</h2>
    <div class="pokemon-container">
      <div class="pokemon-card" *ngFor="let pokemon of pokemons">
        <img [src]="pokemon.imagemUrl" alt="{{ pokemon.nome }}">
        <h5>{{ pokemon.nome }}</h5>
        <div class="types">
            <span class="type-badge {{pokemon.tipo1.toLowerCase()}}">{{ pokemon.tipo1 }}</span>
            <span *ngIf="pokemon.tipo2" class="type-badge {{pokemon.tipo2.toLowerCase()}}">
              {{ pokemon.tipo2 }}
            </span>
          </div>
          
        <p><strong>Chance de captura:</strong> {{ pokemon.chanceCaptura }}%</p>
      </div>
    </div>
</div>
  