.type-badge {
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  /* Cores para tipos de Pokémon */
  .type-badge.normal { background-color: #A8A878; }
  .type-badge.fire { background-color: #F08030; }
  .type-badge.water { background-color: #6890F0; }
  .type-badge.grass { background-color: #78C850; }
  .type-badge.electric { background-color: #F8D030; }
  .type-badge.ice { background-color: #98D8D8; }
  .type-badge.fighting { background-color: #C03028; }
  .type-badge.poison { background-color: #A040A0; }
  .type-badge.ground { background-color: #E0C068; }
  .type-badge.flying { background-color: #A890F0; }
  .type-badge.psychic { background-color: #F85888; }
  .type-badge.bug { background-color: #A8B820; }
  .type-badge.rock { background-color: #B8A038; }
  .type-badge.ghost { background-color: #705898; }
  .type-badge.dragon { background-color: #7038F8; }
  .type-badge.dark { background-color: #705848; }
  .type-badge.fairy { background-color: #EE99AC; }
  .type-badge.steel { background-color: #B8B8D0; }